

<h1>GET INNN</h1>

<section class="get">

  <form action="/graph" method="get">
    <div>
        {{# each items }}
            <article class="item">
                <div>Total: {{ this.total }}</div>
            </article>
        {{/each}}
    </div>
    </form>
</section>
