<h1>OEE TECT</h1>


<form action="/Welcome">

<!--index.html -->

  <div class="container">
    <div>
    <label for="KEEGADX"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="KEEGADX" required>
  </div>
  <div>
    <label for="CLOONE97"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="CLOONE97" required>
</div>
<div>
    <button type="submit">Login</button>

    </div>
  </div>

</form>


<!-- Get Data was here -->
