<h1> OEE TECT </h1>

 <!-- <h1 align="center"><b>OEE TECT</b></h1> -->
<body>
  <form action="/graph">
   <div class="container"> <!-- Space for button inside border -->
    <button type="submit"> D1</button>
    </div>
<form action="/enterD1">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">INSERT DATA D1</button>
  </div>
</form>
<form action="/enterD2">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">INSERT DATA D2</button>
  </div>
</form>
<form action="/enterE1">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">INSERT DATA E1</button>
  </div>
</form>
<form action="/enterE2">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">INSERT DATA E2</button>
  </div>
</form>
<form action="/getD1">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">GET DATA D1</button>
  </div>
</form>

<form action="/getD2">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">GET DATA D2</button>
  </div>
</form>

<form action="/getE1">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">GET DATA E1</button>
  </div>
</form>

<form action="/getE2">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">GET DATA E2</button>
  </div>
</form>
</body>
