<h1> OEE TECT </h1>

 <!-- <h1 align="center"><b>OEE TECT</b></h1> -->
<body>
<form action="/enter">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">INSERT DATA</button>
  </div>
</form>

<form action="/get-data">
 <div class="container"> <!-- Space for button inside border -->
  <button type="submit">GET DATA</button>
  </div>
</form>
</body>
